{% load static %}
<html>

<head>
    <title>Swirl</title>
    <script type="text/javascript"> let user = '{{request.user}}'
    function getToken(name) {
        let cookieValue=null;
        if(document.cookie && document.cookie !==''){
            let cookies = document.cookie.split(';');
            for(let i =0;i<cookies.length;i++) {
                let cookie= cookies[i].trim();
                if(cookie.substring(0,name.length+1)===(name+'=')){
                    cookieValue = decodeURIComponent(cookie.substring(name.length +1));
                    break;
                }
            }
        }
        return cookieValue
    }
    let csrftoken = getToken('csrftoken')
    </script>
</head>

<body>
    <h1>Swirl</h1>
    <nav>
        <a>Drinks</a>
    </nav>
    {% block content %} {% endblock %}
    <script type="text/javascript" src="{% static 'js/cart.js' %}"> </script>
    
</body>
</html>