{% extends 'swirl/base.html' %} 
{% load static %}
{% block content %}
<h3>Checkout</h3>
	<div class='form-container'> 
			<form id='form' class = 'checkout-form'>
				<div class='name-field'> 
					<label for="fname">Name</label>
					<input type="text" name="name" value="Name" />
				</div >
				<div class='name-field'> 
					<label for="email">Email</label>
					<input type="text" name="email" value="Email" />
				</div>
					<div class='name-field'> 
					<label for="address">Address</label>
					<input type="text" name="address" value="123 King Ave" />
				</div>
				<div class='name-field'> 
					<label for="fname">City</label>
					<input type="text" name="city" value="City" />
				</div class='name-field'>
				<div class='name-field'> 
					<label for="fname">State</label>
					<input type="text" name="state" value="State" />
				</div class='name-field'>
				<div class='name-field'> 
					<label for="fname">Zipcode</label>
					<input type="text" name="zipcode" value="Zipcode" />
				</div>
				<div class='name-field'> 
					<button id='make-payment'>Submit order</button>
					<button > <a href='/cart/'> Back to Cart </a></button>
					<button >PayPal</button>
				</div>
			</form>
			<div class='order-summary'> 
			<h3>Order Summary</h3>
				{% for item in items %}
						<div class='cart-items'>
							<div class='receipt-img'> <img class='thumbnail-checkout' src={{item.item.preview_url}}> </div>
							<div class='receipt-title'> {{item.item.title}} </div>
							<div class='receipt-price'> ${{item.item.price|floatformat:2}} </div>
							<div class='receipt-quantity'> Qty: {{item.quantity}}</div>
							
						</div>
				
				{% endfor %}
		
			<p>Items: {{order.get_cart_items}}</p>
			<p>Grand Total: ${{order.get_cart_total|floatformat:2}}</p>
			</div>
		</div>
<script type='text/javascript'>
let form = document.getElementById('form')
let total='{{order.get_cart_total}}'
document.getElementById('make-payment').addEventListener('click',function(e){
	submitFormData()
})
function submitFormData(){
	let userFormData = {
		'name':form.name.value,
		'email': form.name.email,
		'total':total
	}
	let shippingInfo = {
		'address': form.address.value,
		'city': form.city.value,
		'state': form.state.value,
		'zipcode': form.zipcode.value,
	}
	let url = '/process_order/'
	fetch(url,{
		method:'POST',
		headers:{
			'Content-Type': 'application/json',
			'X-CSRFToken':csrftoken,
		},
		body:JSON.stringify({'form':userFormData, 'shipping': shippingInfo})
	}).then((response)=>response.json()).then((data)=>{
		console.log('Success', data);
		alert('Transaction Complete!');
		window.location.href = "{% url 'store' %}"
	})
	console.log('payment button clicked')
	console.log(userFormData.name)
}
</script>

	

{% endblock %}
